node_modules/
test.js
----------------------------------------------------------------------------------------------------
This is top - √
----------------------------------------------------------------------------------------------------
This is middle - √
This is middle2 - status - √
----------------------------------------------------------------------------------------------------
√
----------------------------------------------------------------------------------------------------